@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <div>
        <h3>Access Denied</h3>
    </div>
    <div>
        <p>
            You don't have permission to access this page. <br />
            Contact an administrator to get permissions or go to the home page and browse other pages
        </p>
        <button class="btn btn-success" onclick="window.location.href='@Url.Action("Index", "Dashboard")'">Home Page</button>
    </div>
</div>
