<div id="dashboardContainer" class="w-75 mx-auto">

    <div class="solve-stats-section card p-4 my-3 rounded shadow-sm border-0">
        <div>
            <p>The programmers dashboard section is under development</p>
            <p>
                From there, you can check the current active programmers assigned to you.

                <ul>
                    <li>Track individual programmers progress.</li>
                    <li>Assign mentor for them.</li>
                    <li>Add/Remove any programmers from your list.</li>
                </ul>

            </p>
        </div>
    </div>

</div>
